* {
  box-sizing: border-box;
  margin: 0 auto;
}

.text-center {
	text-align: center;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.container {
  width: 940px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
}

.page-header {
  background-color: #ffce34;
  font-size: 0;
 }

.logo {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.logo:before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  background-size:100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url(../img/logo.png);
  margin-right: 10px;
}

.logo-brand {
	font-size: 24px;
  	vertical-align: middle;
}

.main-nav {
	display: inline-block;
}

.main-nav ul{
  padding: 10px;
  margin: 0;
}

.main-nav li{
  display: inline-block;
}

.main-nav a{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  padding: 12px;
  font-size: 16px;
}

.not-active {
	opacity: 0,7;
}

.btn-order {
	padding: 0;
	background-color: #ffe184;
	width: 174px;
	text-align: center;
}

.promo-btn:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 5px;
  background-size:100%;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url(../img/arrow.png);
}

.main-nav a:hover {
  border: 1px solid grey;
}

header:after, .consult:before, .about:before, .map:before {
  content: '';
  background-image: url(../img/border.png);
  display: inline-block;
  height: 15px;
  width: 100%;
  background-repeat: repeat-x;
}

.promo {
  background-image: url(../img/promo.jpg);
  background-position: 0px -400px;
  background-size:cover;
  background-repeat: no-repeat;
  height: 460px;
  padding-top: 125px;
  padding-bottom: 115px;
}

.promo-slogan, .promo-title, .promo-btn {
  color: white;
}

.promo-slogan {
  font-size: 44px;
  text-transform: uppercase;
  padding-bottom: 0;
  font-weight: bold;
}

.promo-title {
  font-size: 20px;
  width: 630px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: normal;
}

.promo-btn {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border: 3px solid #ffce34;
  font-size: 16px;
  display: block;
  width: 220px;
}

.consult {
  background-color: #202e3b;
  font-size: 0px;
}

.consult-title {
	margin: 30px 0px;
	color: #ffce34;
	font-size: 24px;
	font-weight: normal;
}

.consult input {
  width: 23%;
  background-color: #202e3b;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ffce34;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 2.6%;
  font-size: 16px;
  display: inline-block;
}

.consult-btn {
  text-decoration: none;
  display: inline-block;
  background-color: #ffce34;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: none;
  width: 220px;
}

.features {
  font-size: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.features-item {
	  display: inline-block;
  font-size: 13px;
  padding-top: 0;
  padding-left: 50px;
  width: 235px;
  vertical-align: top;
}

.features-item-tool:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size:100%
  background-position: -50px -50px;
  background-repeat: no-repeat;
  background-image: url(../img/hammer.gif);
}

.features-item-work:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size:100%
  background-position: -50px -50px;
  background-repeat: no-repeat;
  background-image: url(../img/work.gif);
}

.features-item-fencing:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size:100%
  background-position: -50px -50px;
  background-repeat: no-repeat;
  background-image: url(../img/fencing.gif);
}

.features-item-workman:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size:100%
  background-position: -50px -50px;
  background-repeat: no-repeat;
  background-image: url(../img/workman.gif);
}

.technic {
  background-color: #f3f3f3;
  font-size: 0px;
  width: 100%;
}

.technic-menu, .deals {
  font-size: 16px;
  display: inline-block;
}

.technic h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.deals h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 30px;
  float: left;
}

.technic-menu ul {
  padding-left: 0;
  padding-right: 20px;
  list-style-type: none;
}

.technic-menu {
  width: 220px;
  line-height: 2.5;
  padding-top: 5px;
  padding-bottom: 10px;
  vertical-align:top;
}

.technic-menu a {
  color: #202e3b;
}

.deals {
  width: 700px;
  vertical-align:top;
  padding-top: 22px;
}

table {
  border-spacing:0px 0px;
  width: 700px;
}

.deals-table {
	height: 30px;
}

tr, th, td {
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

th {
  background: #dfdfdf;
  text-align: left;
}

.white {
  background: #fff;
}

.about {
  background-color: #202e3b;
  float: left;
  width: 100%;
}

.about-number, .about-reviews {
	font-size: 16px;
	display: inline-block;
	vertical-align:top;
	margin-top: 37px;
}

.about-number {
	width: 300px;

}

.about-number h2 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 25px;
  color: white;
}

.about-number h2 span {
  font-weight: normal;
}

.about-number ul {
  padding-left: 0;
  padding-right: 20px;
  list-style-type: none;
  font-weight: bold;
  color: #9e9e9e;
}

.about-number ul span {
  font-weight: bold;
  font-size: 38px;
  color: #f1b132;
  padding-right: 20px;
}


.about-reviews h2 {
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

.about-reviews {
  margin-bottom: 60px;
  width: 620px;
}

.about-reviews-item-one:before {
	content: '';
  height: 115px;
  width: 115px;
  margin-right: 15px;
  background-image: url(../img/Client1.png);
  display: inline-block;
  background-size:100%;
  background-repeat: no-repeat;
}

.about-reviews-item-two:before {
	content: '';
  height: 115px;
  width: 115px;
  margin-right: 15px;
  background-image: url(../img/Client2.png);
  display: inline-block;
  background-size:100%;
  background-repeat: no-repeat;
}

.about-reviews blockquote {
  font-style: italic;
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
  margin-top: 30px;
}

.about-reviews cite {
  font-size: 18px;
  color: #ffce34;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 15px;
}

.page-footer {
  font-size: 0;
  background-color: #202e3b;
}

.footer-logo {
  color: #ffce34;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.footer-main-nav {
	color:white;
}

.footer-btn-order {
  color: #ffce34;
  background-color: #202e3b;	
}

.catalog-consult {
  background-image: url(../img/promo.jpg);
  background-position: 0px;
  background-size:cover;
  font-size: 0;
  padding-bottom: 40px;
}

.catalog-title {
  font-size: 26px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 15px;
}

.catalog-description {
  font-size:16px;
  height: 20px;
  color:white;
}

.catalog-title-description {
  display: inline-block;
  width: 700px;
  margin-bottom: 10px;
  color: #ffcd34;
}

.catalog-btn-btn_article {
  display: inline-block;
  vertical-align: top;
  	float: right;
}

.catalog-btn {
  width: 240px;
  height: 45px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 12px 20px 12px 20px;
  text-decoration: none;
  color: #202e3b;
  background-color: #ffce34;
  font-weight: bold;
  font-size: 18px;
}

.consult-btn_article {
	  font-size:16px;
  height: 20px;
  color:white;
  width: 240px;
}

.catalog-subtitle:before {
  content: '';
  display: inline-block;
  background-image: url(../img/techTypes.gif);
  background-repeat: no-repeat;
  background-position: 0;
  vertical-align: middle;
  width: 30px;
  height: 25px;
  margin-right: 15px;
}

.selected {
	text-decoration: none;
	font-weight: bold;
	color: #353535;
}

.selected:before {
  display: inline-block;
  content: '';
  background-image: url(../img/arrow-selected.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 16px;
  padding-right: 5px;
  vertical-align: middle;
}

.download-catalog {
  width: 220px;
  height: 35px;
  background-color: #354b60;
  color:white;
  border:none;
  text-decoration: none;
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}

.download-catalog:before {
  content: '';
  display: inline-block;
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  background-position: 0;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.catalog-list {
  display: inline-block;
  width: 620px;
  margin: 30px 0px 45px 80px;
}

.offers-list {
	  display: inline-block;
  width: 940px;
}

.catalog-item-card {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin: 0px 10px 20px 10px;
  padding: 25px 30px 25px 30px;
  background-color: white;
}

.catalog-item-card a {
  text-decoration: none;
}

.catalog-item-card .name {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  padding-bottom:25px;
    color: black;
}

.catalog-item-card .image {
  background-image: url(../img/cat315.jpg);
  width: 240px;
  height: 160px;
}

.catalog-item-card .price {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 27px;
  font-weight: bold;
    color: black;
}

.item-card-btn {
  display: inline;
  width: 120px;
  height: 35px;
  color: white;
  font-size: 16px;
  padding: 10px 18px 10px 18px;
}

.rent-btn {
  background-color: #f3c331;
}

.more-btn {
  background-color: #354b60;
}

.pagination {
  text-align: center;
  display: inline-block;

}

.pagination ul {
  font-size: 14px;
  display: inline;
  list-style-type: none;
}

.pagination-active {
	background-color: #354b60;
	background-size: 21px;
	color: white;
}

.offers-list .catalog-item-card {
  margin-top: 40px;
  margin-bottom: 40px;
}

.offers-list {
  font-size: 0;
  background-image: url(../img/offers.png);
  background-position: 0px;
  background-size: cover;
  background-repeat: no-repeat;

}

.price-old {
  text-decoration: line-through;
  color:red;
  padding-right: 15px;
}

.sub-menu {
  background-image: url(../img/portfolio-menu.jpg);
  background-position: 0px;
  background-size:100%;
  background-repeat: no-repeat;
  font-size: 0;
  border-bottom: 10px solid black;
}

.sub-menu ul {
	  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 640px;
  padding-left: 0;
}

.sub-menu_header {
  color: #ffcd34;
  font-size: 24px;
  display: inline-block;
  width: 300px;
}

.sub-menu a {
  font-size: 14px;
  color: white;
}

.portfolio-item-wood {
  background-image: url(../img/portfolio-promo.jpg);
  background-position: 0px;
  background-size:100%;
  height: 500px;
  width: 100%;
    background-repeat: no-repeat;
      font-size: 0;
        border-bottom: 10px solid black;
}

.portfolio-item-city {
  background-image: url(../img/portfolio-promo1.jpg);
  background-position: 0px;
    background-size:100%;
  height: 500px;
  width: 100%;
    background-repeat: no-repeat;
      font-size: 0;
        border-bottom: 10px solid black;
}

.portfolio-item-village {
  background-image: url(../img/portfolio-promo2.jpg);
  background-position: 0px;
  border:none;
    background-size:100%;
  height: 500px;
  width: 100%;
    background-repeat: no-repeat;
      font-size: 0;
}

.portfolio-cart {
  width: 320px;
  height: 250px;
  background-color: white;
  margin-left: 0;
  padding: 30px;
}

.portfolio-cart-title {
  font-size: 16px;
  font-weight: bold;
}

.portfolio-cart-description {
  padding-top: 15px;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 20px;
}

.btn-about {
  padding: 15px 17px 15px 17px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  background-color: #ffcd34;
  width: 126px;
  height: 40px;
  color: #1d333f;
}

.btn-about:after {
  display: inline-block;
  content: '';
  background-image: url(../img/pointer.png);
  background-repeat: no-repeat;
  width: 28px;
  height: 26px;
  background-position: 10px 1px;
  vertical-align: middle;
}

.contacts {
  font-size: 0;
  background-image: url(../img/promo.jpg);
  background-position: 0px -700px;
  background-size:cover;
  background-repeat: no-repeat;
}

.contacts-title, .contacts-article, .contacts-btn {
  display: inline-block;
  width: 700px;
  padding-top: 50px;
}

.contacts-title {
  display: inline;
  font-size: 26px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 15px;
  color: #ffcd34;
}

.contacts-article {
  padding-left: 25px;
  font-size: 16px;
  color: white;
}

.contacts-btn {
  width: 240px;
  margin-top: 25px;
  margin-bottom: 25px;
  	padding: 0;
	background-color: #ffe184;
	text-align: center;
}

.contacts-consult-map {
  background-color: #f3f3f3;
}

.contacts-map {
  margin-top: 40px;
  margin-bottom: 40px;
  display: inline-block;
}

.telephone {
	padding-bottom: 20px;
}

.e-mail {
	padding-bottom: 20px;	
}

.telephone img {
	vertical-align: center;
	padding-right: 15px;
}

.e-mail img {
	vertical-align: center;
	padding-right: 15px;
}

.contacts-tel-mail-consult {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 15px;
  display: inline-block;
  width: 300px;
  height: 400px;
  vertical-align: top;
}

.contacts-tel-mail {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contacts-consult-title {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
}

.contacts-consult-form input {
  display: block;
  text-decoration: none;
  background-color: white;
  border: 1px solid #d5d5d5;
  width: 100%;
  font-size: 14px;
  margin-bottom: 18px;
  padding: 14px;
}

.contacts-description {
  height: 95px;
  margin-bottom: 25px;
}

.contacts-consult-btn {
  display: block;
  text-decoration: none;
  border: none;
  background-color: #354b60;
  font-size: 18px;
  height: 45px;
  width: 300px;
  color:white;
}

.feedback {
  font-size: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feedback-title {
  font-size: 26px;
  font-weight: bold;
}

.feedback_item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
}

.feedback_item:last-child {
  margin-right: 0;
}

.feedback_img {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feedback_text {
  font-size: 14px;
  font-weight: italic;
  text-align: center;
}

.feedback_name {
  font-size: 14px;
  font-weight:bold;
  text-align: center;
  margin-top: 10px;
}
